### API.XX
server {
    # max post upload
	client_max_body_size 100M;

	client_header_timeout 3000;
	client_body_timeout 3000;
	fastcgi_read_timeout 3000;
	fastcgi_buffers 8 128k;
	fastcgi_buffer_size 128k;

    listen 80;
    listen [::]:80;

    # Document dir
    root /var/www/html/api.xx;

    # Run first
    index index.php index.html;

    # Domain, host
    server_name api.xx www.api.xx;

    location = /favicon.ico {
        rewrite . /favicon/favicon.ico;
    }

    location / {
        # Get file or folder or error
        # try_files $uri $uri/ =404;

        # Get file or folder or redirect uri to url param in index.php
        try_files $uri $uri/ /index.php?url=$uri&$args;
        
        # Wordpress
        # try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        # Php-fpm
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
    }
}

# SSL
worker_processes auto;
http {
    ssl_session_cache   shared:SSL:5m;
    ssl_session_timeout 10m;

    server {
        listen              443 ssl;
        server_name         api.xx www.api.xx;
        keepalive_timeout   70;

        ssl_certificate     www.example.com.crt;
        ssl_certificate_key www.example.com.key;
        ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers         HIGH:!aNULL:!MD5;
        
        ...
        
   }
}
