### Mysql ustawienia

```bash
# Set value
SET GLOBAL max_connections = 50;
SET GLOBAL innodb_buffer_pool_size = 128M;
```

### Mysql nano 
/etc/mysql/main.cnf
```bash
# The MariaDB server
[mysqld]
# Directory where you want to put your data
# data=/usr/local/mysql/var

# Log query
general_log
general_log_file=/var/log/mysql/mariadb.log

max_connections = 50
max_user_connections = 50

performance_schema = ON
key_buffer_size = 512K

# 1 na 1G pool_size
innodb_buffer_pool_instances = 1
innodb_buffer_pool_size = 256M
innodb_log_file_size = 32M

thread_pool_size = 4
thread_cache_size = 16

table_open_cache = 500
query_cache_type = 1
query_cache_limit = 256K
query_cache_min_res_unit = 2k
query_cache_size = 60M

# Skip reverse DNS lookup of clients
skip-name-resolve

slow-query-log = 1
long_query_time = 1

wait_timeout = 1
connect_timeout = 1
```

### Show variables
```bash
SHOW VARIABLES LIKE "max_connections";
SHOW VARIABLES LIKE "innodb_buffer_pool_size";
SHOW STATUS LIKE 'open%';
SHOW GLOBAL STATUS LIKE "Qc%";

# Memory usage
SELECT ( @@key_buffer_size
+ @@query_cache_size
+ @@innodb_buffer_pool_size
+ @@innodb_log_buffer_size
+ @@max_allowed_packet
+ @@max_connections * ( 
    @@read_buffer_size
    + @@read_rnd_buffer_size
    + @@sort_buffer_size
    + @@join_buffer_size
    + @@binlog_cache_size
    + @@net_buffer_length
    + @@net_buffer_length
    + @@thread_stack
    + @@tmp_table_size )
) / (1024 * 1024 * 1024) AS MAX_MEMORY_GB;
```
